<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Asesor/a: {{asesor}}</span>
    <span class="example-spacer"></span>
    <span>Fecha: {{ now | date }}</span>
    <mat-icon class="example-icon">calendar_today</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
<span class="example-spacer"></span>
    <span>Hora inicio: {{ now | date :  "shortTime" }}</span>
    <mat-icon class="example-icon">access_time</mat-icon>
    <!--
    <span>Hora cierre: {{ now | date: "shortTime" }}</span>
-->
  </mat-toolbar-row>
</mat-toolbar>



<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
        <!-- Tarjeta Contenido-->
        <mat-card class="">
          <mat-card-header>
            <div mat-card-avatar class="">
                <mat-icon>account_circle</mat-icon>
            </div>
            <mat-card-title>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="DNI" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" value="">
                </mat-form-field>
        </mat-card-title>
            <mat-card-subtitle>
            <mat-form-field class="">
                <input matInput placeholder="Correo sede de presencia nacional" value="">
            </mat-form-field>
            <br>
            <mat-form-field class="">
                <input matInput placeholder="Correo sede Andina" value="">
            </mat-form-field>
            <mat-form-field class="">
                <input matInput placeholder="Correo personal" value="">
            </mat-form-field>
            <mat-form-field class="">
                <input matInput placeholder="Teléfono" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombres de Acudientes" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Teléfonos de Acudientes" value="">
            </mat-form-field>
        </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
        </mat-card-content>
        </mat-card>

      <ng-template matStepLabel>IDENTIFICACIÓN DEL ESTUDIANTE Y MOTIVO DE CONSULTA</ng-template>

        <mat-tab-group>
          <mat-tab label="Dátos Académicos">
              <mat-form-field class="example-full-width">
              <mat-select placeholder="Programa Curricular" [formControl]="progCurricular" [(ngModel)]="selectedValue">
                <mat-option>-- Ninguno --</mat-option>
                <mat-optgroup *ngFor="let group of progCurricularGrupos" [label]="group.name"
                              [disabled]="group.disabled" >
                  <mat-option *ngFor="let programa of group.programa" [value]="programa.value">
                    {{ programa.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>

            <mat-radio-group class="example-radio-group" >
              <mat-radio-button class="example-radio-button"
              *ngFor="let group of progCurricularGrupos"
              [value]="group.name"
              >
                {{group.name}}
              </mat-radio-button>
            </mat-radio-group>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="PBM" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="N°. matrícula" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Avance (%)" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="PAPA" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="N°. asignaturas" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="N°. créditos" value="">
        </mat-form-field>
        Tipo de Ingreso:
        <mat-radio-group class="example-radio-group" >
          <mat-radio-button class="example-radio-button"
          *ngFor="let ingreso of tipoIngreso"
          [value]="ingreso"
          >
            {{ingreso}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Tutor(a/es/as)" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Observaciones"></textarea>
        </mat-form-field>
          </mat-tab>
          <mat-tab label="Dátos demográficos">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Edad" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Lugar de nacimiento" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Procedencia" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Dirección residencia" value="">
              </mat-form-field>

              <mat-radio-group class="example-radio-group" >
                <mat-radio-button class="example-radio-button"
                    *ngFor="let residencia of tipoResidencia"
                [value]="residencia"
                >
                  {{residencia}}
                </mat-radio-button>
              </mat-radio-group>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Sector" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Estrato vivienda" value="">
      </mat-form-field>
      Tipo vivienda:
      <mat-radio-group class="example-radio-group" >
        <mat-radio-button class="example-radio-button"
        *ngFor="let vivienda of tipoVivienda"
        [value]="vivienda"
        >
          {{vivienda}}
        </mat-radio-button>
        <mat-form-field class="">
            <input matInput placeholder="Otro">
        </mat-form-field>
      </mat-radio-group>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Puntaje Sisben" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Actividad laboral" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Estrato vivienda" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Seguridad Social" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Etnia" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Lengua materna" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Discapacidad" value="">
      </mat-form-field>
      Sexo:
      <mat-radio-group class="example-radio-group" >
        <mat-radio-button class="example-radio-button"
            *ngFor="let sexo of tipoSexo"
        [value]="sexo"
        >
          {{sexo}}
        </mat-radio-button>
      </mat-radio-group>
      Identidad de género :
      <mat-radio-group class="example-radio-group" >
        <mat-radio-button class="example-radio-button"
            *ngFor="let genero of tipoIdentidadGenero"
        [value]="genero"
        >
          {{genero}}
        </mat-radio-button>
      </mat-radio-group>
      Orientación sexual:
      <mat-radio-group class="example-radio-group" >
        <mat-radio-button class="example-radio-button"
            *ngFor="let orientacion of tipoOrientacionSexual"
        [value]="orientacion"
        >
          {{orientacion}}
        </mat-radio-button>
      </mat-radio-group>
       <mat-form-field class="example-full-width">
           <input matInput placeholder="Autodefinición" value="">
       </mat-form-field>
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Observaciones"></textarea>
      </mat-form-field>

      </mat-tab>
      <mat-tab label="Motivo de la consulta">
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Motivo de la consulta"></textarea>
          </mat-form-field>
          <mat-divider></mat-divider>
          <p>
              Motivo de consulta(escribir el motivo de la atención del estudiante, la percepción sobre la situación, las condiciones que marcaron el inicio de la situación, el tiempo que lleva presentándose, las estrategias de afrontamiento implementadas, los factores que han favorecido que se mantenga, qué consecuencias ha traído la problemática para el estudiante. Indagar ampliamente sobre lo que motiva al estudiante a consultar, así como sobre los factores que determinan y que constituyen un riesgo para su situación, pues esto es lo que determina la intervención a realizar. Tener en cuenta que, aunque existe un motivo inicial, pueden aparecer problemas que acompañan dicho motivo).
          </p>
          <mat-divider></mat-divider>
          Tipo de asesoría:
          <section class="example-section">
          <mat-checkbox class="example-margin"
          *ngFor="let asesoria of tipoAsesoria"
          [value]=asesoria
          >{{asesoria}}</mat-checkbox>
          </section>
          <br>
         <h4>Motivo de asesoría (registro en SIBU):</h4>
          <br>
          Académica:
          <section class="example-section">
      <mat-checkbox class="example-margin"
      *ngFor="let academica of tipoAcademica"
      [value]=academica
      >{{academica}}</mat-checkbox>
    </section>
<br>
    Administrativa:
    <section class="example-section">
<mat-checkbox class="example-margin"
*ngFor="let administrativa of tipoAdministrativa"
[value]=administrativa
>{{administrativa}}</mat-checkbox>
</section>
<br>
Psicosocial:
<section class="example-section">
<mat-checkbox class="example-margin"
*ngFor="let psicosocial of tipoPsicosocial"
[value]=psicosocial
>{{psicosocial}}</mat-checkbox>
</section>
<br>
Habilidades para el aprendizaje:
<section class="example-section">
<mat-checkbox class="example-margin"
*ngFor="let aprendizaje of tipoHabilidadesParaApendizaje"
[value]=aprendizaje
>{{aprendizaje}}</mat-checkbox>
</section>
<br>
Soportes justificativos:
<section class="example-section">
<mat-checkbox class="example-margin"
*ngFor="let soportes of tipoSoportesJustificados"
[value]=soportes
>{{soportes}}</mat-checkbox>
</section>

          </mat-tab>
        </mat-tab-group>
      <div>

        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>RESULTADOS DE ENCUESTA DE PERFIL INTEGRAL DE INGRESO</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>RESULTADOS APERTURA DE HISTORIA CLINICA</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>RUTA DE ACOMPAÑAMIENTO AMBITO ACADÉMICO</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>RUTA DE ACOMPAÑAMIENTO AMBITO SOCIOECONÓMICO</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>RUTA DE ACOMPAÑAMIENTO AMBITO  PERSONAL, FAMILIAR-RELACIONAL</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>RUTA DE ACOMPAÑAMIENTO SOCIODEMOGRAFICO (FACTORES ASOCIADOS A LA MOVILIDAD)</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>RUTA DE ACOMPAÑAMIENTO AMBITO DE LA SALUD</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>EVALUACIÓN DE LA INTERVENCIÓN PSICOSOCIAL</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>CONSENTIMIENTO INFORMADO</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>HOJA DE SEGUIMIENTO A LA SITUACIÓN</ng-template>
    Completado!.
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Borrar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
